.App {
  text-align: center;

}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 70px;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #ac23e2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;

}
/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.heading{
  margin-bottom: 20px;
}

.container{
display: inline-block;
text-align: left;
margin-left: 10px;

   
}


.input-text{
  height: 40px;
  width: 250px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 8px;
  font-size: medium;
 
}

.add-btn{
  height: 40px;
  background-color: rgb(10, 187, 10);
  color:white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor:pointer;

}
.list-container{
 
  height: 50px;
  width: 400px;
  color: black;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 5px;
  border-radius: 10px;
  position:relative;
  
  
}

.delete-btn{
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 20px;
  position:absolute;
  right:25px;
  margin:5px;
  cursor:pointer;
  
 

}
.list{
  
  width: 400px;

  padding-left: 10px;
  background-color: white;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  list-style-type: none;
}